.art-gallery .grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 16px;
    padding: 20px;
  }

    
    @media (max-width: 1000px) {
      .art-gallery .grid {
        grid-template-columns: repeat(2, 1fr);
      }

    }
    
    @media (max-width: 480px) {
      .art-gallery .grid {
        grid-template-columns: 1fr;
      }

    }
    
   
 /* .modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: white;
    padding: 4rem;
    border-radius: 4px;
    text-align: center;
    max-width: 600px;
    width: 100%;
  }
  
  .modal-content img {
    max-width: 100%;
    height: auto;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }*/