/* ArtCard.css */
.art-card {
    cursor: pointer;
    border: 0px solid #ddd;
    border-radius: 3px;
    padding: 16px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.2s;
    background-color: rgba(0,0,0, 0.3)
  }
  
  .art-card img {
    object-fit: contain;
    display: block;
  }
  
  .art-card h3 {
    margin: 10px 0;
  }
  
  .art-card:hover {
    transform: scale(1.04);
  }
